In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time
import matplotlib.pyplot as plt
import datetime
import pymysql as pms


db = pms.connect("140.118.126.136", "123", "1234567890", "test",cursorclass=pms.cursors.DictCursor)
cursor = db.cursor()
cursor.execute("select * from btc_usd order by DATE DESC")
result = cursor.fetchall()
btc_data = pd.DataFrame(result)
btc_data = btc_data.assign(DATE=pd.to_datetime(btc_data['DATE']))
btc_data['VOLUME'] = (pd.to_numeric(btc_data['VOLUME'], errors='coerce').fillna(0))
btc_data['VOLUME'] = btc_data['VOLUME'].astype('int64')
btc_data

,ASK,BID,DATE,HIGH,LAST,LOW,MID,VOLUME
0,8063.100,8063.000,2018-04-14,8185.000,8063.20,7820.500,8063.050,28584
1,7824.000,7823.900,2018-04-12,8087.000,7824.00,6753.000,7823.950,95364
2,6785.300,6785.200,2018-04-10,6897.400,6785.30,6650.000,6785.250,26054
3,6698.400,6698.300,2018-04-09,7189.000,6698.40,6611.000,6698.350,76309
4,6596.500,6591.400,2018-04-06,6864.000,6595.60,6500.200,6593.950,41534
5,6780.000,6779.900,2018-04-05,6938.000,6780.00,6564.900,6779.950,46048
6,6741.300,6740.600,2018-04-04,7450.000,6741.30,6670.000,6740.950,53111
7,7394.200,7394.100,2018-04-03,7509.700,7394.13,7007.400,7394.150,50882
8,7025.700,7025.600,2018-04-02,7132.000,7025.60,6768.000,7025.650,43988
9,6806.100,6806.000,2018-04-01,7035.100,6806.10,6425.100,6806.050,54592
10,6944.200,6944.100,2018-03-31,7222.000,6944.10,6751.100,6944.150,68543
11,6774.600,6774.500,2018-03-30,7269.000,6774.60,6533.000,6774.550,110807
12,7220.000,7219.900,2018-03-29,7973.000,7219.90,6883.000,7219.950,73997
13,7960.000,7959.300,2018-03-28,8120.200,7962.00,7702.100,7959.650,37966
14,7926.700,7925.800,2018-03-27,8277.800,7926.50,7716.600,7926.250,49132
15,8187.900,8183.800,2018-03-26,8516.900,8177.40,7835.900,8185.850,58065
16,8480.800,8479.900,2018-03-25,8674.400,8481.00,8364.800,8480.350,30079
17,8643.800,8639.700,2018-03-24,9050.300,8639.70,8556.000,8641.750,44565
18,8690.900,8690.200,2018-03-22,9095.920,8690.90,8450.000,8690.550,54383
19,8870.100,8870.000,2018-03-21,9177.500,8870.00,8752.000,8870.050,42946
20,8932.000,8931.900,2018-03-20,9040.000,8932.00,8305.100,8931.950,55419
21,8500.000,8499.900,2018-03-19,8717.000,8505.00,8085.700,8499.950,74323
22,8149.100,8148.800,2018-03-18,8300.000,8147.00,7240.000,8148.950,87116
23,7993.100,7993.000,2018-03-17,8515.900,7993.00,7728.100,7993.050,50245
24,8488.300,8481.000,2018-03-16,8604.500,8494.30,7902.000,8484.650,54272
25,8269.000,8268.900,2018-03-15,8418.000,8267.70,7665.100,8268.950,83733
26,8175.100,8175.000,2018-03-14,9439.600,8175.10,7916.000,8175.050,77582
27,9150.600,9150.500,2018-03-13,9482.400,9150.60,8822.000,9150.550,62993
28,9098.500,9098.400,2018-03-12,9900.000,9098.40,8770.000,9098.450,67217
29,9485.100,9482.100,2018-03-11,9729.000,9485.20,8428.000,9483.600,70288
...,...,...,...,...,...,...,...,...
1394,446.970,446.400,2014-05-15,451.400,446.97,442.510,446.685,1892
1395,447.400,447.000,2014-05-14,448.000,447.00,437.810,447.200,3086
1396,439.000,437.810,2014-05-13,442.000,437.82,434.010,438.405,1913
1397,439.410,439.400,2014-05-12,442.000,439.41,431.800,439.405,3454
1398,436.850,436.810,2014-05-11,459.650,436.85,430.000,436.830,11882
1399,455.200,455.000,2014-05-10,457.000,455.00,448.200,455.100,2438
1400,443.490,442.000,2014-05-08,450.590,442.00,438.600,442.745,4046
1401,446.000,445.720,2014-05-07,453.600,446.00,424.249,445.860,10468
1402,430.900,429.500,2014-05-06,435.390,430.90,419.400,430.200,6980
1403,432.237,430.750,2014-05-05,444.400,430.75,425.600,431.493,5940
1404,436.900,436.200,2014-05-04,441.950,436.40,429.000,436.550,4157
1405,441.380,440.300,2014-05-03,455.000,441.30,430.000,440.840,7611
1406,449.850,449.460,2014-05-02,461.670,449.85,443.000,449.655,3298
1407,460.090,459.100,2014-05-01,463.530,460.10,446.990,459.595,5339
1408,449.370,449.360,2014-04-30,453.600,449.37,432.000,449.365,6877
1409,447.000,445.550,2014-04-29,454.000,445.54,434.000,446.275,8521
1410,445.500,445.400,2014-04-28,450.000,445.40,423.110,445.450,16467
1411,445.910,445.500,2014-04-27,465.600,445.00,440.000,445.705,5959
1412,459.000,457.600,2014-04-26,469.190,457.60,449.800,458.300,8578
1413,465.955,463.790,2014-04-25,504.960,463.79,441.300,464.872,30376
1414,497.980,497.000,2014-04-24,498.840,497.98,480.160,497.490,4316
1415,491.599,490.040,2014-04-23,496.000,490.03,482.880,490.819,4716
1416,491.390,491.210,2014-04-22,506.000,491.20,488.800,491.300,3105
1417,497.180,497.000,2014-04-21,515.646,497.00,485.000,497.090,8132
1418,501.420,500.072,2014-04-20,517.995,501.44,492.200,500.746,4921
1419,507.490,502.531,2014-04-19,513.990,507.50,473.830,505.011,8963
1420,484.790,482.750,2014-04-18,509.000,482.75,474.250,483.770,10458
1421,508.000,506.040,2014-04-17,538.500,508.00,486.100,507.020,20709
1422,538.000,537.000,2014-04-16,547.000,538.00,495.000,537.500,29633
1423,504.970,503.500,2014-04-15,513.900,505.00,452.000,504.235,21013

In [2]:
#def some fun tp process data
def add_newcol(btc_data): #新增closeoffhigh和volatolity欄位，增加模型訓練的準確度
    market_info = btc_data[btc_data['DATE']>='2017-01-01'] #將資料只獲取從2017-01-01之後的內容，存到 market_info
    kwargs = { 'CLOSE_OFF_HIGH': lambda x: 2*(x['HIGH'] - x['LAST']) / (x['HIGH'] - x['LOW']) - 1, # 1:收盤接近最低價  -1:收盤接近最高價  
          'VOLATILITY': lambda x: (x['HIGH'] - x['LOW']) / (x['MID'])}  #越趨近0越看好
    market_info = market_info.assign(**kwargs)
    return market_info
def create_model_data(btc_data):#選取待會訓練模型所需要的資料
    model_data = btc_data[["DATE"]+["LAST"]+["VOLUME"]+["CLOSE_OFF_HIGH"]+["VOLATILITY"]]
    model_data = model_data.sort_values(by='DATE')
    return model_data
def create_input_data(data,window_len):#決定訓練時以多少天的大小作訓練(window_len)，以每個為window_len大小的array，作為待會訓練模型的input
    norm_cols = ['LAST','VOLUME']
    inputs = [] #將Close,Volume以每筆的第一個資料來作正規化，讓值介於-1,1之間
    for i in range(len(data)-window_len):
        temp_set = data[i:(i+window_len)].copy()
        for col in norm_cols:
            temp_set.loc[:, col] = temp_set[col]/temp_set[col].iloc[0] - 1 #以window中的第一個為基準將"volume"與"last"做正規化
        inputs.append(temp_set)
    return inputs
def create_output_data(data,window_len):#模型的輸出
    return (data['LAST'][window_len:].values / data['LAST'][:-window_len].values) - 1
def data_to_np(data):#原本資料的型態為dataframe，這裡將型態轉為numpy array，模型的資料是以這種型態為主
    data = [np.array(datas)for datas in data]
    data = np.array(data)
    return data

In [3]:
market_info = add_newcol(btc_data)
market_info.head()

,ASK,BID,DATE,HIGH,LAST,LOW,MID,VOLUME,CLOSE_OFF_HIGH,VOLATILITY
0,8063.1,8063.0,2018-04-14,8185.0,8063.2,7820.5,8063.05,28584,-0.331687,0.045206
1,7824.0,7823.9,2018-04-12,8087.0,7824.0,6753.0,7823.95,95364,-0.605697,0.170502
2,6785.3,6785.2,2018-04-10,6897.4,6785.3,6650.0,6785.25,26054,-0.093775,0.036461
3,6698.4,6698.3,2018-04-09,7189.0,6698.4,6611.0,6698.35,76309,0.697578,0.086290
4,6596.5,6591.4,2018-04-06,6864.0,6595.6,6500.2,6593.95,41534,0.475536,0.055172

In [4]:
model_data= create_model_data(market_info)
model_data.tail()

        DATE    LAST  VOLUME  CLOSE_OFF_HIGH  VOLATILITY
4 2018-04-06  6595.6   41534        0.475536    0.055172
3 2018-04-09  6698.4   76309        0.697578    0.086290
2 2018-04-10  6785.3   26054       -0.093775    0.036461
1 2018-04-12  7824.0   95364       -0.605697    0.170502
0 2018-04-14  8063.2   28584       -0.331687    0.045206

In [5]:
split_date = '2018-01-01' #將training_set,test_set從這個日期做劃分
training_set, test_set = model_data[model_data['DATE']<split_date], model_data[model_data['DATE']>=split_date]
test_set.head()

         DATE     LAST  VOLUME  CLOSE_OFF_HIGH  VOLATILITY
98 2018-01-01  13769.0   43269       -0.568493    0.148509
97 2018-01-02  13375.0   29564       -0.071685    0.083464
96 2018-01-03  14723.1   56195       -0.425582    0.183826
95 2018-01-04  15134.0   38358       -0.365202    0.061305
94 2018-01-05  15175.0   46460       -0.637058    0.089802

In [6]:
training_set = training_set.drop('DATE', 1) #將Date的欄位刪掉，因為之後不會需要用到它，因為後面要將形式轉為np array，故只留數值的部分
test_set = test_set.drop('DATE', 1)

In [7]:
window_len = 10 #決定模型要獲取幾天前的數據，隨意選擇
norm_cols = ['LAST','VOLUME']
LSTM_training_inputs = create_input_data(training_set,10)
LSTM_test_inputs = create_input_data(test_set,10)
LSTM_training_outputs = create_output_data(training_set,10)
LSTM_training_outputs=LSTM_training_outputs[:,np.newaxis,np.newaxis]
print(LSTM_training_outputs)

[[[-0.06296231]]

 [[-0.21984708]]

 [[-0.21040706]]

 [[-0.20306358]]

 [[-0.28409091]]

 [[-0.18204106]]

 [[-0.07612688]]

 [[-0.00452593]]

 [[-0.03030899]]

 [[-0.00160574]]

 [[-0.01060999]]

 [[ 0.18530966]]

 [[ 0.14749252]]

 [[ 0.09522255]]

 [[ 0.08653552]]

 [[ 0.08846894]]

 [[ 0.10272256]]

 [[ 0.01405989]]

 [[ 0.03523093]]

 [[ 0.01218998]]

 [[ 0.02367934]]

 [[ 0.04564836]]

 [[ 0.06473823]]

 [[ 0.1114913 ]]

 [[ 0.14716002]]

 [[ 0.15419488]]

 [[ 0.09966462]]

 [[ 0.11552307]]

 [[ 0.14429592]]

 [[ 0.14941647]]

 [[ 0.07372242]]

 [[ 0.02772718]]

 [[ 0.01675614]]

 [[-0.01092354]]

 [[-0.0200413 ]]

 [[-0.01726312]]

 [[ 0.00735148]]

 [[ 0.0155486 ]]

 [[ 0.0045623 ]]

 [[ 0.01039184]]

 [[ 0.07229515]]

 [[ 0.09860119]]

 [[ 0.1296    ]]

 [[ 0.1311245 ]]

 [[ 0.19485811]]

 [[ 0.16964374]]

 [[ 0.13708087]]

 [[ 0.13500241]]

 [[ 0.1315167 ]]

 [[ 0.12200415]]

 [[ 0.16909676]]

 [[ 0.15262627]]

 [[ 0.14173159]]

 [[ 0.12462276]]

 [[ 0.07365415]]

 [[ 0.07931151]]

 [[ 0.0687771 ]]

 [[-0.02434886]]

 [[-0.00468267]]

 [[-0.06366159]]

 [[-0.05077745]]

 [[-0.02624463]]

 [[-0.19143987]]

 [[-0.11886346]]

 [[-0.19477472]]

 [[-0.19824891]]

 [[-0.23915443]]

 [[-0.16515652]]

 [[-0.19650508]]

 [[-0.06969643]]

 [[-0.11057077]]

 [[-0.15264619]]

 [[-0.00949367]]

 [[-0.03170906]]

 [[ 0.05313775]]

 [[ 0.08170827]]

 [[ 0.23188174]]

 [[ 0.1831429 ]]

 [[ 0.17795901]]

 [[ 0.15746283]]

 [[ 0.14263789]]

 [[ 0.14216867]]

 [[ 0.17920418]]

 [[ 0.12710453]]

 [[ 0.14233004]]

 [[ 0.10492158]]

 [[ 0.02943723]]

 [[ 0.06329783]]

 [[ 0.06328777]]

 [[ 0.01351239]]

 [[ 0.03962391]]

 [[ 0.06936709]]

 [[ 0.0410509 ]]

 [[ 0.0685325 ]]

 [[ 0.06774871]]

 [[ 0.09561103]]

 [[ 0.131455  ]]

 [[ 0.11326379]]

 [[ 0.14366809]]

 [[ 0.15546046]]

 [[ 0.16731266]]

 [[ 0.10392992]]

 [[ 0.12318612]]

 [[ 0.10738152]]

 [[ 0.15525977]]

 [[ 0.15390916]]

 [[ 0.19898907]]

 [[ 0.17975606]]

 [[ 0.14722628]]

 [[ 0.13511396]]

 [[ 0.12313226]]

 [[ 0.2145257 ]]

 [[ 0.24210083]]

 [[ 0.23465353]]

 [[ 0.21641791]]

 [[ 0.14215655]]

 [[ 0.12461252]]

 [[ 0.14461325]]

 [[ 0.13367691]]

 [[ 0.11796449]]

 [[ 0.1547795 ]]

 [[ 0.14543849]]

 [[ 0.11362352]]

 [[ 0.16179775]]

 [[ 0.09670649]]

 [[ 0.11971751]]

 [[ 0.22822492]]

 [[ 0.31056893]]

 [[ 0.33404422]]

 [[ 0.18605826]]

 [[ 0.04000213]]

 [[ 0.04465341]]

 [[ 0.11340102]]

 [[ 0.01837524]]

 [[ 0.07738358]]

 [[ 0.15434684]]

 [[ 0.07271095]]

 [[ 0.0410153 ]]

 [[ 0.04173328]]

 [[ 0.23931005]]

 [[ 0.45068978]]

 [[ 0.3156911 ]]

 [[ 0.26543266]]

 [[ 0.33361823]]

 [[ 0.28179085]]

 [[ 0.28359122]]

 [[ 0.06435146]]

 [[ 0.08227031]]

 [[-0.04119215]]

 [[-0.08923942]]

 [[-0.14317531]]

 [[-0.01674892]]

 [[-0.10682375]]

 [[-0.08566546]]

 [[-0.02380699]]

 [[-0.11424777]]

 [[ 0.05157638]]

 [[ 0.00414025]]

 [[ 0.04675259]]

 [[ 0.03228241]]

 [[-0.01080992]]

 [[-0.05110266]]

 [[ 0.01314993]]

 [[-0.03025701]]

 [[-0.11695119]]

 [[-0.10422514]]

 [[-0.0888972 ]]

 [[-0.05259834]]

 [[ 0.03046033]]

 [[ 0.05645358]]

 [[ 0.08342023]]

 [[-0.01674948]]

 [[ 0.01182466]]

 [[ 0.00265028]]

 [[-0.04723825]]

 [[-0.00618026]]

 [[-0.02999344]]

 [[-0.08421878]]

 [[-0.13975555]]

 [[-0.21770721]]

 [[-0.24927815]]

 [[-0.10550982]]

 [[-0.09687574]]

 [[-0.09756098]]

 [[ 0.23081249]]

 [[ 0.16514078]]

 [[ 0.19961085]]

 [[ 0.16787259]]

 [[ 0.25851112]]

 [[ 0.24925058]]

 [[ 0.28769231]]

 [[ 0.22078455]]

 [[ 0.21449111]]

 [[ 0.19779878]]

 [[-0.04038806]]

 [[ 0.05559674]]

 [[-0.04583921]]

 [[-0.0141506 ]]

 [[ 0.0116862 ]]

 [[ 0.12269384]]

 [[ 0.28821187]]

 [[ 0.2129875 ]]

 [[ 0.21542601]]

 [[ 0.27851056]]

 [[ 0.2059707 ]]

 [[ 0.20280899]]

 [[ 0.35373245]]

 [[ 0.42592593]]

 [[ 0.46493636]]

 [[ 0.48840224]]

 [[ 0.29288651]]

 [[ 0.33059504]]

 [[ 0.27367178]]

 [[ 0.18859941]]

 [[ 0.26188379]]

 [[ 0.20851822]]

 [[ 0.09404346]]

 [[ 0.05304334]]

 [[ 0.00832319]]

 [[ 0.01960969]]

 [[ 0.04344707]]

 [[ 0.00298287]]

 [[ 0.00528365]]

 [[ 0.06543947]]

 [[ 0.10788302]]

 [[ 0.10425373]]

 [[ 0.17915513]]

 [[ 0.20450718]]

 [[ 0.07062174]]

 [[ 0.05351866]]

 [[-0.02605527]]

 [[ 0.02545186]]

 [[ 0.063716  ]]

 [[ 0.05769011]]

 [[-0.06257197]]

 [[-0.05096795]]

 [[-0.0979749 ]]

 [[-0.13473005]]

 [[-0.06003427]]

 [[-0.13760684]]

 [[-0.22434766]]

 [[-0.15885791]]

 [[-0.19586512]]

 [[-0.19926439]]

 [[-0.06158018]]

 [[-0.09699205]]

 [[-0.07359185]]

 [[-0.13981228]]

 [[-0.13560379]]

 [[-0.04658077]]

 [[ 0.11660499]]

 [[ 0.0489389 ]]

 [[ 0.04726998]]

 [[ 0.13377466]]

 [[ 0.03237837]]

 [[ 0.06251117]]

 [[ 0.10521651]]

 [[ 0.21736969]]

 [[ 0.21364557]]

 [[ 0.14878192]]

 [[ 0.1469981 ]]

 [[ 0.11089311]]

 [[ 0.11991765]]

 [[ 0.0642978 ]]

 [[ 0.10693524]]

 [[ 0.14164224]]

 [[ 0.09769733]]

 [[ 0.09257999]]

 [[ 0.21455842]]

 [[ 0.30953596]]

 [[ 0.36185784]]

 [[ 0.31160401]]

 [[ 0.31318934]]

 [[ 0.24387022]]

 [[ 0.20656567]]

 [[ 0.20140146]]

 [[ 0.25339707]]

 [[ 0.26172378]]

 [[ 0.11244965]]

 [[ 0.04340816]]

 [[-0.04502687]]

 [[-0.00930363]]

 [[ 0.02820647]]

 [[ 0.0390279 ]]

 [[ 0.0281395 ]]

 [[ 0.08325014]]

 [[ 0.01483788]]

 [[ 0.05138925]]

 [[ 0.12675127]]

 [[ 0.18654803]]

 [[ 0.31983245]]

 [[ 0.30263019]]

 [[ 0.24600933]]

 [[ 0.20525659]]

 [[ 0.23728223]]

 [[ 0.20411991]]

 [[ 0.16941254]]

 [[ 0.02407865]]

 [[-0.05352075]]

 [[-0.16843883]]

 [[-0.10634452]]

 [[-0.10697347]]

 [[-0.00764293]]

 [[ 0.13048228]]

 [[ 0.08080822]]

 [[ 0.0438163 ]]

 [[ 0.12970083]]

 [[ 0.26105302]]

 [[ 0.28187919]]

 [[ 0.41635259]]

 [[ 0.23298078]]

 [[ 0.2430349 ]]

 [[ 0.28037502]]

 [[ 0.23673101]]

 [[ 0.28908662]]

 [[ 0.25712374]]

 [[ 0.23058864]]

 [[ 0.31655514]]

 [[ 0.34615623]]

 [[ 0.35613609]]

 [[ 0.45252586]]

 [[ 0.41486401]]

 [[ 0.45146727]]

 [[ 0.70750265]]

 [[ 0.59848003]]

 [[ 0.50020467]]

 [[ 0.50770659]]

 [[ 0.5427256 ]]

 [[ 0.48694373]]

 [[ 0.46796882]]

 [[ 0.51474265]]

 [[ 0.65746333]]

 [[ 0.40405836]]

 [[ 0.1395797 ]]

 [[ 0.09630267]]

 [[ 0.12039563]]

 [[ 0.04773382]]

 [[-0.21368032]]

 [[-0.13208014]]

 [[-0.17498779]]

 [[-0.22399613]]

 [[-0.18375846]]

 [[-0.18903951]]

 [[-0.24317041]]

 [[-0.17485582]]

 [[-0.24596651]]]

In [8]:
LSTM_training_inputs[0]

         LAST     VOLUME  CLOSE_OFF_HIGH  VOLATILITY
454  0.000000   0.000000       -0.862872    0.023982
453  0.033757   0.880509       -0.679045    0.045317
452  0.054717   2.050791       -0.242054    0.040120
451  0.073856   0.976773       -0.849057    0.025518
450  0.178966   6.513362       -0.816901    0.099767
449  0.038061  11.763117        0.031693    0.314032
448 -0.070463   7.030083        0.642857    0.171409
447 -0.060531   4.683923       -0.937767    0.105767
446 -0.052462   3.298447        0.033582    0.058518
445 -0.065797   1.320834       -0.343405    0.046179

In [9]:
#以 np array的形式做處理，當存以數字的形式
LSTM_training_inputs = data_to_np(LSTM_training_inputs)
LSTM_test_inputs = data_to_np(LSTM_test_inputs)
LSTM_training_inputs.shape
LSTM_training_outputs.shape

(346, 1, 1)

In [10]:
BATCHSIZE=1
INPUTSIZE=4
OUTPUTSIZE=1
TIMESTEP=10
CELL_SIZE=16
LR=0.006


class LSTMRNN(object):
    def __init__(self,input_size,output_size,batch_size,n_steps,cell_size):
        self.input_size=input_size
        self.output_size=output_size
        self.batch_size=batch_size
        self.n_steps=n_steps
        self.cell_size=cell_size
        with tf.name_scope('inputs'):
            self.xs=tf.placeholder(tf.float32,[None,n_steps,input_size],name="xs")
            self.ys=tf.placeholder(tf.float32,[None,1,output_size],name="ys")
        with tf.variable_scope('in_hidden'):
            self.add_input_layer()
        with tf.variable_scope('LSTM_cell'):    
            self.add_cell()
        with tf.variable_scope('out_hidden'):
            self.add_output_layer()
        with tf.name_scope('cost'):
            self.compute_cost()
        with tf.name_scope('train'):
            self.train_op=tf.train.AdamOptimizer(LR).minimize(self.loss)
            
    def add_input_layer(self):
        l_in_x=tf.reshape(self.xs,[-1,self.input_size],name="2_2D")
        W_in=self.Weight_variable([self.input_size,self.cell_size])
        B_in=self.Biases_variable([self.cell_size])
        with tf.name_scope('Wx_plus_b'):
            l_in_y=tf.matmul(l_in_x,W_in)+B_in
        self.l_in_y=tf.reshape(l_in_y,[-1,self.n_steps,self.cell_size],name='2_3D') #[346,10,16]
        
    def add_cell(self):
        lstm_cell=tf.contrib.rnn.BasicLSTMCell(self.cell_size,forget_bias=1,state_is_tuple=True)
        with tf.name_scope('initial_state'):
            self.cell_initial_state=lstm_cell.zero_state(self.batch_size,dtype=tf.float32)
        self.cell_outputs,self.cell_final_state=tf.nn.dynamic_rnn(lstm_cell,self.l_in_y,initial_state=self.cell_initial_state,time_major=False)
        
    def add_output_layer(self):        
        l_out_x=tf.reshape(self.cell_outputs,[-1,self.cell_size],name="2_2d")
        W_out=self.Weight_variable([self.cell_size,self.output_size])
        B_out=self.Biases_variable([self.output_size])
        with tf.name_scope('Wx_plus_b'):
            self.pred=tf.matmul(l_out_x,W_out)+B_out
        
        
    def Weight_variable(self,shape,name="weight"):
        initializer=tf.random_normal_initializer(mean=0,stddev=1)
        return tf.get_variable(shape=shape,initializer=initializer,name=name)
    def Biases_variable(self,shape,name='biases'):
        initializer=tf.constant_initializer(0.1)
        return tf.get_variable(shape=shape,initializer=initializer,name=name)
        
    def compute_cost(self):
        self.loss=tf.reduce_mean(tf.square(tf.reshape(self.pred,[- 1])-tf.reshape(self.ys, [-1])))
        
model=LSTMRNN(INPUTSIZE,OUTPUTSIZE,BATCHSIZE,TIMESTEP,CELL_SIZE)
sess=tf.Session()
init=tf.global_variables_initializer()
sess.run(init)
for epoch in range(500):
    for i in range(len(LSTM_training_inputs)):
        if epoch==0:
            feed_dict={model.xs:LSTM_training_inputs[np.newaxis,i],model.ys:LSTM_training_outputs[np.newaxis,i]}
        else:
            feed_dict={model.xs:LSTM_training_inputs[np.newaxis,i],model.ys:LSTM_training_outputs[np.newaxis,i],model.cell_initial_state:state}

        _, cost, state, pred=sess.run([model.train_op, model.loss, model.cell_final_state, model.pred],feed_dict=feed_dict)
    if epoch % 20 == 0:
            print('cost: ', round(cost, 4))

cost:  0.0157
cost:  0.0063
cost:  0.0111
cost:  0.0069
cost:  0.0155
cost:  0.0059
cost:  0.0013
cost:  0.003
cost:  0.0054
cost:  0.0011
cost:  0.0212
cost:  0.0035
cost:  0.0033
cost:  0.0141
cost:  0.0031
cost:  0.0022
cost:  0.0026
cost:  0.0017
cost:  0.0006
cost:  0.006
cost:  0.0044
cost:  0.0082
cost:  0.0083
cost:  0.0532
cost:  0.0117
[[-0.2067433 ]
 [-0.16455215]
 [-0.16321874]
 [-0.25172356]
 [-0.27845049]
 [-0.29021373]
 [-0.26172531]
 [-0.25795051]
 [-0.23963952]
 [-0.23884439]]